# Python specific
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.pytest_cache/
.coverage

# Fetcher specific
/logs
/data
.env.local
/tmp
/downloads

# Virtual Environment
venv/
.venv/
ENV/

# Conda
.conda/ 

config/config.yaml
config/nacos_config.yaml
nacos-data/